.container {
  width: 750px;
  color: #333;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
  font-family: Georgia, sans-serif;
  position: relative;
  background-color: white;
}

.nav {
  text-align: right;
/*  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}


hr.small {
  max-width: 50px;
  margin: 15px auto;
  border-width: 1px;
  border-color: lightgrey;
}

hr {
  color: lightgrey;
}

.true{
   position: relative;
   border: 1px solid grey;

}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 40px;
}
h3{
  font-size: 28px;
}

p {
  font-size: 24px;
  line-height: 1.8;
  font-weight: none;
}
span{
  font-size: 24px;
}

li {
  font-size: 24px;
  line-height: 1.8;
}


.text {
  text-decoration: none;
  background: none;
  padding: 3px 6px;
  color: #000;
  font-weight: none;
  text-decoration: underline;
}
